body {
  @extend .container;
  background:$background;
  color:$grey;
  font-family: $secondFont;
  font-weight:400;
  overflow:hidden;
}
body.noselect * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.project {
  &:first-child {
    opacity:1;
    display:block;
  }

  h2 {
    font-size:65px;
    line-height:65px;
    span {
      display:block;
    }
  }

  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  display:none;
  opacity:0;
}