.nav-button {
  color:$red;
  position:fixed;
  top:50px;
  z-index:50;
  font-size:10px;
  line-height:14px;
  letter-spacing:3px;
  font-weight: bold;
  &.nav-about {
    right:100px;
  }
  &.nav-projects {
    left:100px;
    pointer-events: auto;
    @include transition-css();
  }
}


.logo {
  width:130px;
  height:130px;
  display:block;
  margin:0;
  left:100px;
  top:50px;
  position:absolute;
  z-index:20;
  @include transition-css();
}
.body-single .logo {
  opacity:0;
}

.body-home .nav-projects {
  opacity:0;
  pointer-events: none;
}