.nav-button {
  color:$red;
  position:fixed;
  top:50px;
  z-index:50;
  font-size:10px;
  line-height:14px;
  letter-spacing:3px;
  font-weight: bold;
  &.nav-about {
    right:100px;
  }
  &.nav-projects {
    left:100px;
    pointer-events: auto;
    @include transition-css();
  }

  &:after {
    content: " ";
    height:1px;
    width:0%;
    background:$red;
    display:block;
    position:absolute;
    left:0;
    bottom:-3px;
    @include transition-css(width,0.5s);
  }

  &:hover:after {
    width:100%;
  }
}


.logo {
  width:130px;
  height:130px;
  display:block;
  margin:0;
  left:100px;
  top:50px;
  position:absolute;
  z-index:100;
  @include transition-css();
  cursor:pointer;
  opacity:0;
  pointer-events: none;
}

.body-home .logo {
  opacity:1;
  pointer-events: auto;
}

.body-home .nav-projects {
  opacity:0;
  pointer-events: none;
}