h1,h2,h3,h4,h5,h6 {
  font-family: $primaryFont;
}

.text-uppercase {
  text-transform: uppercase;
}

.line-before {
  &:before {
    content:" ";
    height:1px;
    background:$white;
    width:25px;
    display:inline-block;
    line-height:inherit;
    margin-bottom: 4px;
    margin-right: 20px;
  }
}